
h1 {

    color: green;
    font-size: xx-large;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
}

h2 {

    color: green;
    font-size: x-large;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
}

dl li {

    color: black;
    font-weight: bold;
    font-size: large;
}

dl>li>dl>li {

    font-size: medium;
    font-weight: 100;
    padding-left: 50px;
}