.fruits-div {

    width: 50%;
    background-color: pink;
    padding: 10px;
}

.list{
    
    list-style-type: decimal;
    font-weight: bold;
    font-family: monospace;
    font-size: large;
    padding: 15px;
}

.list-item {

    background-color: red;
    width: auto;
    margin: 7px;
    padding: 15px;
}

.item {

    background-color: darkred;
    background-size: contain;
    padding: 15px;
    color: whitesmoke;
}