body {

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

table {

    width: 60%;
    height: 40%;
    border-collapse: collapse;
}

table thead {

    background-color: teal;
    height: 40px;
}

table thead tr {

    width: 60%;
    height: 10%;
}

table thead tr th {

    height: 10%;
    width: 15%;
    text-align: center;
    font-family: monospace;
    font-size: x-large;
    font-weight: bold;
    color: whitesmoke;
}

table tbody tr td {

    height: 70px;
    width: 15%;
    text-align: center;
    font-family: monospace;
    font-size: x-large;
    font-weight: bold;
    color: grey;
}

.Sally {

    height: 70px;
    width: 15%;
    text-align: center;
    font-family: monospace;
    font-size: x-large;
    font-weight: bold;
    color: green;
}

table tr:hover {

    background-color: rgba(128, 128, 128, 0.3);
}