* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: YouTubeSansBold;
    src: url(../fonts/youtube-sans-bold.ttf);
}

@font-face {
    font-family: YouTube-Sans-Med;
    src: url(../fonts/youtube-sans-medium.ttf);
}

@font-face {
    font-family: YouTube-Sans-Light;
    src: url(../fonts/youtube-sans-light.ttf);
}

#container {

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    position: relative;

    background-color: #0f0f0f;
}

header {

    width: 100%;
    height: 6vh;
    position:static;

}

#header-content {

    width: inherit;
    height: inherit;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    padding-left: 0.5%;
    padding-right: 0.5%;

    display: flex;
    align-items: center;
    flex-direction: row;
    position: inherit;
}

main {

    width: 100%;
    height: 94vh;
}

#main-content {

    width: inherit;
    height: inherit;

    display: flex;
    flex-direction: row;
}

#aside {

    width: 25%;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    position: static;
}

#nav-section-container {

    width: 75%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#nav {

    width: 100%;
    height: 5%;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;

}

#section {

    width: 100%;
    height: 95%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    position: static;
}

#header-burger {

    width: 2em;
    height: 2em;
    margin-right: 0.3%;
    margin-left: 0.5%;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0%;

    text-align: center;
    color: whitesmoke;

    font-size: 1.5em;
}

#logo-cont {

    width: 7.5em;
    height: 1.4em;
    display: flex;
    align-items: center;
    
    flex-direction: row;
    margin-left: 0.8%;
    margin-top: 0.2%;

    justify-self: start;

    flex-shrink: 0%;
}

#logo {

    width: 6.6em;
    height: 1.4em;
    display: flex;
    align-items: end;
    justify-content: center;

    margin-right: 4.5%;

    flex-shrink: 0%;
}

.loader-bar {

    height: inherit;

    background-color: red;
    animation: loader 1s ease;
}

.loader {

    width: 0%;
    height: 0.1em;

    position: absolute;
    top: 0;
    left: 0;
}

div#logo img {

    width: inherit;
    height: inherit;
}

@keyframes loader {
    
    0% {

        width: 0%;
    }
    25% {

        width: 20%;
    }
    50% {

        width: 60%;
    }
    75% {

        width: 80%;
    }
    90% {
        width: 100%;
    }
    100% {

        width: 0%;
    }
}

div#header-burger:hover {

    background-color: #272727;
    border-radius: 50%;
}

#search-bar-cont {

    width: 32%;
    height: 2.7em;

    display: flex;
    flex-direction: row;
    justify-self: center;
    border: 1px solid #303030;
    border-radius: 20px;
    
    flex-wrap: nowrap;
    margin-left: 21.5%;

    overflow: hidden;
}

#search-bar-cont input[type=text] {

    width: 89%;
    height: inherit;

    border-right: 1px solid #303030;

    color: #808080;
    font-size: 1.2em;

    display: flex;
    align-items: center;
}

#search-bar-cont input[type=text]::placeholder {

    opacity: 1;
    color:#808080;
    font-weight: 400;
    font-size: 0.9em;

    margin-bottom: 20%;

    text-decoration: none;
}

#search-button {

    width: 11%;
    height: inherit;
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-preview-container {

    height: 10em;
    
    flex-basis: 20em;
    flex-shrink: 10em;

    display: flex;
    flex-direction: column;

    justify-content: center;
}

.preview {

    flex-basis: inherit;
    flex-shrink: inherit;
    height: 9em;
}

div.preview img {

    flex-shrink: inherit;
    flex-basis: inherit;
    height: inherit;
}

.title-container {

    flex-basis: inherit;
    flex-shrink: inherit;
    height: 1em;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;
}

